<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_object.name}}</h1>
            <h2>Tasks</h2>
        </div>
        <div>
            <p>
                <a href="{% url 'todo_list_edit' id=todo_object.id%}">Edit</a>
                <a href="{% url 'todo_list_delete' id=todo_object.id%}">Delete</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>    
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_object.items.all  %}
                
                <tr>
                    <td>{{task.task}}</td>
                    <td>{{task.due_date}}</td>
                    <td><a href="{% url 'todo_item_edit' id=task.id%}">Update Item</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
